/* POLICES */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');


h1{
font-family: 'Shrikhand', cursive;
}

p, h2 ,h3{
font-family: 'Roboto', sans-serif;
}



@media screen and (min-width:400px) and (max-width:767px) { 

}


i{
font-size: x-large;
}


/* ACCEUIL */
/*  HEADER */

#ab_header{
display: flex;
align-items: center;
justify-content: center;
height: 70px;
}

#ab_header img{
height: 40px;
}

#ab_header1-2{
display: flex;
justify-content: center;
align-items: center;
font-size: larger;
text-indent: 15px;
background-color: #eaeaea;
}

#ab_header1-3{
display: flex;
align-items: center;
flex-direction: column;
text-align: center;
background-color: #f6f6f6;
height: 350px;
}

#ab_header1-3-1{
background: linear-gradient(#FF79DA, #9356DC);
font-size: large;
color: white;
border-radius: 50px;
padding-inline-end: 20px;
padding-inline-start: 20px;
box-shadow: gray 0px 5px 10px;
}

.ab_header1-3-correctif{
    font-size: larger;
    padding-bottom: 20px;
}

#ab_header1-3-1:hover{
cursor: pointer;
background: linear-gradient(#f39bda, #b68aec );
}

/* FONCTIONNEMENT */

.ab_section{
display: flex;
flex-direction: column;
gap: 20px;
}

.ab_section p{
    font-weight: bold;
    align-items: center;
}

.ab_section-1{
display: flex;
justify-content: space-around;
align-items: center;
background-color: #F6F6F6;
border-radius: 25px;
height: 80px;
box-shadow: gainsboro 1px 10px 20px;
margin-left: 10px;
}

.ab_section-1 i {
    color: grey;
}

.ab_section-2{
display: flex;
justify-content: space-around;
align-items: center;   
background-color: #F6F6F6; 
border-radius: 25px;
height: 80px;
box-shadow: gainsboro 1px 10px 20px;
margin-left: 10px;
}

.ab_section-2 i {
    color: grey;
}

.ab_section-3{
display: flex;
justify-content: space-around;
align-items: center;
background-color: #F6F6F6;
border-radius: 25px;
height: 80px;
box-shadow: gainsboro 1px 10px 20px;
margin-left: 10px;
}

.ab_section-3 i{
color: grey;
}

.ab_section :hover{
    background-color: #F7EDFF;
}

.ab_section-1 i:hover,
.ab_section-2 i:hover,
.ab_section-3 i:hover,
.ab_section :hover{
    background-color: #F7EDFF;
    color: #9356DC;
}

.ab_puprle_spot{
display: flex;
align-items: center;
justify-content: center;
width: 30px;
height: 30px;
border-radius: 25px;
background-color:#9356DC;
color: white;
margin-left: -40px;
}

/* RESTAURANTS */

.new{
width: 80px;
height: 30px;
background-color: #99E2D0;
font-weight: bold;
color: green;
position: absolute;
display: flex;
align-items: center;
justify-content: center;
margin-block-start: 10px;
margin-inline-start: calc(72%);
}

.ab_cartes{
border: solid 1px #f2f2f2;
border-radius: 15px ;
box-shadow: gainsboro 1px 10px 20px;
}

.ab_cartes img{
width: 100%;
height: 200px;
object-fit: cover;
border-radius: 15px 15px 0 0;
}

#ab_cartes_restaurants{
background-color: #f6f6f6;
margin-top: 50px;
padding-top: 30px;
gap: 30px;
display: flex;
flex-direction: column; 
}

.ab_cartes_container{
border-radius: 0 0 15px 15px;
padding-inline-end: 10px;
}

.ab_cartes_container p {
margin-top: 0px ;
margin-bottom: 5px;
}

.ab_cartes_container div{
display: flex;
align-items: center;
justify-content: space-between;
}

.ab_cartes a{
text-decoration: none;
color: black;
}

/* FOOTER */

footer{
background-color: #353535;
color: white;
margin-top: 50px;
}

footer ul{
list-style-type: none;
padding-top: 10px;
margin-top: 0px;
}

footer ul li img{
width: 110px;
}

footer ul li{
display: flex;
align-items: center;
gap: 10px;
}

footer ul li p{
margin-top: 10px;
margin-bottom: 10px;
}
.logo{
font-family: 'Shrikhand', cursive;
color:white ;
font-size: 22px;
margin: 0;
}

footer ul li i {
font-size: initial;
}

footer ul li a{
text-decoration: none;

color: white;
}

/* MENUS */

.ab_menu_header-1{
display: flex;
align-items: center;
gap: 55px;
height: 70px;
}

.ab_menu_header-1 img {
width: calc(60%);
}

.ab_menu_header-1 i {
font-size: x-large;
}

.ab_menu_header-2 img{
width: 100%;
height: 300px;
object-fit: cover;
position: relative;
z-index: -1;
}

.ab_flex{
display: flex;
justify-content: space-around;
align-items: center;
padding-left: 30px;
}

.ab_flex h1{
display: flex;
justify-content: center;
font-size: 30px;
}


/*MAIN*/


.ab_menu_main{
background-color: #f2f2f2;
border-radius: 40px 40px 0 0;
margin-top: -40px;
}

.ab_menu_main h2{
color: grey;
font-weight: bold;
font-size: large;
}

.ab_menu_articles{
box-shadow: gainsboro 1px 1px 10px;
background-color: white;
border-radius: 10px;
margin-bottom: 15px;
}

.ab_menu_articles div {
display: flex;
justify-content: space-between;
}

.ab_menu_articles p{
margin-top: 10px;
margin-bottom: 0px;
}


#ab_menu_button{
display: flex;
justify-content: center;
align-items: center;
background: linear-gradient(#FF79DA, #9356DC);
box-shadow: gray 0px 5px 10px;
font-size: large;
color: white;
border-radius: 50px;
padding-inline-end: 20px;
padding-inline-start: 20px;
margin-left: 24%;
width: 40%;
margin-top: 50px;
margin-bottom: 50px;
}

#ab_menu_button:hover{
cursor: pointer;
background: linear-gradient(#f39bda, #b68aec );
}

.ab_menu_main section h2{
border-bottom: #99E2D0 solid 3px;
width: 10%;
}

.ab_acceuil_titlearticles{
font-weight: 900;
font-size: larger;
padding-left: 10px;
}

.ab_acceuil_textarticles{
display: flex;
align-items: center;
justify-content: center;
padding-left: 10px;

}

.ab_acceuil_textarticles p {
width: 1100px;
}

.ab_acceuil_textarticles .ab_heart-animation{
margin-right: 20px; 
margin-bottom: 30px;
}

#price{
font-weight: 600;
padding-right: 20px;
}

/* ANIMATION COEUR */


.ab_heart-animation :hover{
cursor: pointer;
}

.ab_heart-animation{
position: relative;
display: flex;
align-items: center;
justify-content: center;
height: 100%;
margin: auto;
z-index: 3
}

#ab_full_heart{
position: absolute;
display: flex;
align-items: center;
justify-content: center;
}

#ab_fill_heart{ 
position: absolute;
display: flex;
align-items: center;
justify-content: center;
}

#ab_checkbox{
position: absolute;
width: 2rem;
height: 2rem;
opacity: 0;
cursor: pointer;
z-index: 3;
}

.ab_flex .fas{
opacity: 0;
transition-duration: 0.5s;
background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.ab_acceuil_textarticles .fas{
opacity: 0;
transition-duration: 0.5s;
background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

input:checked ~ .far {
transition-duration: 0.5s;
opacity: 0;
}

input:checked ~ .fas{
transition-duration: 0.5s;
opacity: 1;
}


/* ANIMATION HOVER MENUS */

.box {

margin-bottom: 20px;
position: relative;
}
.container {
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
border-radius: 1rem;
display: flex;
overflow: hidden;
max-width: 100%;
height: 80px;
background-color: white;
}
.container:hover .icone {
margin-right: 0;
transition-duration: 0.5s;
transition-timing-function: ease;
}
.container:hover i {
transform: rotate(360deg);
transition-duration: 0.5s;
}
.description {
width: 100%;
display: flex;
max-width: 100%;
overflow: hidden;
}

.texte {
width: 100%;
margin-left: 0.5rem;
max-width: 100%;
overflow: hidden;
}

.texte h3{
margin-top: 10px;
}

.price {
display: flex;
align-items: flex-end;
margin-bottom: 0.8rem;
margin-right: 1rem;
max-width: 100%;
}

.icone {
width: 7rem;
background: #99e2d0;
display: flex;
justify-content: center;
align-items: center;
margin-right: -7rem;
transition-duration: 0.5s;
transition-timing-function: ease;
}
.icone > i {
color: #99e2d0;
padding: 0.5rem;
border-radius: 50%;
background: white;
transition-duration: 0.5s;
}

.texte > *{
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
max-width: 100%;
}

.ab_input{
appearance: none;
width: 100%;
height:80px;
border-radius: 1rem;
position: absolute;
cursor: pointer;
left: -3px;
}

input:checked ~ .container .icone{
margin-right: 0;
transition-duration: 0.5s;
transition-timing-function: ease;
}

input:checked ~ .container i{
margin-right: 0;
transition-duration: 0.5s;
transition-timing-function: ease;
transform: rotate(360deg);
}

.price{
margin-left: 0.5rem;
}


/* LOADING SPINNER */

.loadcontent
{
position: fixed;
width: 100%;
height: 100%;
display:  flex;
align-items: center;
justify-content: center;
background-color: #FFFFFF80;
animation: loadinger 0.1s;
animation-delay: 2.9s;
animation-fill-mode: both;
}

.loading
{
border: 5px solid #9356DC;
border-top: 5px solid #99E2D0;
border-radius: 50%;
width: 70px;
height: 70px;
animation: loading 1s ease-in-out;
animation-iteration-count: 3;
}
@keyframes loading
{
0%
{ 
transform: rotate(0deg); 
}
100%
{ 
transform: rotate(360deg);
}
}


@keyframes loadinger
{
100%
{
opacity: 0;
z-index: -1;
}
}


/* EFFET MENUS */

#entrées {

animation: fadein 2s;
-webkit-animation: fadein 2s;
}
@keyframes fadein {
from {
opacity:0;
}
to {
opacity:1;
}
}

@-webkit-keyframes fadein { 
from {
opacity:0;
}
to {
opacity:1;
}
}


#plats {

animation: fadein 5s;
-webkit-animation: fadein 5s;
}
@keyframes fadein {
from {
opacity:0;
}
to {
opacity:1;
}
}

@-webkit-keyframes fadein { 
from {
opacity:0;
}
to {
opacity:1;
}
}


#desserts {

animation: fadein 6s;
-webkit-animation: fadein 6s;
}
@keyframes fadein {
from {
opacity:0;
}
to {
opacity:1;
}
}

@-webkit-keyframes fadein { 
from {
opacity:0;
}
to {
opacity:1;
}
}


/* MEDIA QUERIES */

/* TABLETTE */

@media screen and (min-width: 767px) and (max-width: 992px ) {

.ab_section-1{
display: flex;
justify-content: space-around;
align-items: center;
background-color: #F6F6F6;
border-radius: 25px;
height: 120px;
box-shadow: gainsboro 1px 10px 20px;
margin-left: 10px;
font-size: x-large;
}


.ab_section-2{
display: flex;
justify-content: space-around;
align-items: center;   
background-color: #F6F6F6; 
border-radius: 25px;
height: 120px;
box-shadow: gainsboro 1px 10px 20px;
margin-left: 10px;
font-size: x-large;
}


.ab_section-3{
display: flex;
justify-content: space-around;
align-items: center;
background-color: #f6f6f6;
border-radius: 25px;
height: 120px;
box-shadow: gainsboro 1px 10px 20px;
margin-left: 10px;
font-size: x-large;
}

.ab_section :hover{
    background-color: #F7EDFF;
}

.ab_section-1 i:hover,
.ab_section-2 i:hover,
.ab_section-3 i:hover,
.ab_section :hover{
    background-color: #F7EDFF;
    color: #9356DC;
}


.container {
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
border-radius: 1rem;
display: flex;
overflow: hidden;
max-width: 100%;
height: 100px;
background-color: white;
}


.ab_cartes img{
width: 100%;
height: 350px;
object-fit: cover;
border-radius: 15px 15px 0 0;
}


.ab_flex{
display: flex;
justify-content: space-around;
align-items: center;
padding-left: 220px;
}

.ab_menu_header-1 img {
padding-left: 130px;
width: 45%;
}
}


/* DESKTOP */

@media screen and (min-width: 992px) {



.ab_menu_header-1 img {
    padding-left: 130px;
    width: calc(22%);
    }


.ab_section-1{
display: flex;
justify-content: space-around;
align-items: center;
background-color: #F6F6F6;
border-radius: 25px;
height: 150px;
box-shadow: gainsboro 1px 10px 20px;
margin-left: 10px;
font-size: x-large;
}

.ab_section-2{
display: flex;
justify-content: space-around;
align-items: center;   
background-color: #F6F6F6; 
border-radius: 25px;
height: 150px;
box-shadow: gainsboro 1px 10px 20px;
font-size: x-large;
margin-left: 10px;
}

.ab_section-3{
display: flex;
justify-content: space-around;
align-items: center;
background-color: #f6f6f6;
border-radius: 25px;
height: 150px;
box-shadow: gainsboro 1px 10px 20px;
margin-left: 10px;
font-size: x-large;
}

.ab_section-1 i:hover,
.ab_section-2 i:hover,
.ab_section-3 i:hover,
.ab_section :hover{
    background-color: #F7EDFF;
    color: #9356DC;
}



#ab_cartes_restaurants {
    background-color: #f6f6f6;
    margin-top: 50px;
    padding-top: 30px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.ab_cartes img{
width: 100%;
height: 350px;
object-fit: cover;
border-radius: 15px 15px 0 0;
}


.ab_menu_header-1 img {
padding-left: calc(33%);
}


.ab_flex{
display: flex;
justify-content: space-around;
align-items: center;
padding-left: 300px;
}

.ab_flex h1{
font-size: 50px;
width: calc(66%);
}

#ab_full_heart{
position: absolute;
display: flex;
align-items: center;
justify-content: center;
font-size: xx-large;
}

#ab_fill_heart{ 
position: absolute;
display: flex;
align-items: center;
justify-content: center;
font-size: xx-large;
}

.container {
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
border-radius: 1rem;
display: flex;
overflow: hidden;
max-width: 100%;
height: 95px;
background-color: white;
}


.ab_acceuil_textarticles .ab_heart-animation{
margin-bottom: 30px;
margin-right: 50px;
}

.new{
width: 80px;
height: 30px;
background-color: #99E2D0;
font-weight: bold;
color: green;
position: absolute;
display: flex;
align-items: center;
justify-content: center;
margin-block-start: 10px;
margin-left: 1000px;

}



footer ul{
display: flex;
justify-content: space-evenly;
height: 200px;
}

#ab_menu_button {
margin-left: calc(28%);
}

#ab_header1-3{
font-size: x-large;
height: 400px;
}

}